
.title {
    text-align: center;
    display:block;
    color: #333;
    background-color: beige;
    font-size: 20px ;
    font-style:normal;
    height: 40px;
    width: 700px;
    align-items: center;
}

.todoList {
    display: flex;
    flex-direction: column;
}

.todoItem {
    display: flex;
    align-items: center;
    background:rgb(71, 92, 72);
    border-radius: 6px;
    width: 300px;
    margin-left: 10px;
    color: white;
    font-size: 16px;

}
