.MyInput {
    padding: 1cqh;
    border: 2px solid #888;
    font-size: 16px;
    border-radius: 6px;
    width: 200px;
    background-color:rgb(71, 92, 72);
    color: rgb(255, 255, 255);
    border: 2px rgb(222, 217, 217);
}